<div id="documentation-container" class="documentation-container">
    <p class="documentation-section-title" i18n="@@documentation-section_title"> Documentations</p>
    <div class="description-content">
      <img
          class="book-logo"
          src="../../assets/img/book-logo.png"
          alt="Book logo"
        />
        <div class="description">
  
        <p  i18n="@@documentation-section_content">Here you'll find detailed documentation and guidelines to help you make the most of DBpedia. Whether you are just getting started or looking to deepen your understanding of the technical and theoretical aspects, we’ve got you covered. <br><br> Our documentation is designed to be accessible to users of all levels, with step-by-step instructions on how to query DBpedia, even if you are a beginner.<br><br> If you have any questions that are not addressed in our documentation, or if you have suggestions for improvement, we encourage you to reach out to us.</p> 
          
        <button class="documentation-button" (click)="openDocumentations()" mat-button i18n="@@documentaiton-section_access_documentation_button">
            Access Documentations
      <em><mat-icon>open_in_new</mat-icon></em></button>
        </div>
    </div>
  </div>
  