.documentation-container {
  position: absolute;
  height: 100%;
  //   margin-top: 5rem;
}

mat-sidenav {
  display: flex;
  align-items: center;
  height: 100%;
  .logo {
    align-self: center;
    height: 200px;
    width: 200px;
  }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  mat-list {
    // height: 100%;
    // background-color: #cfc5a599;
    margin-top: 5rem;
    .list-item {
      padding: 1rem 3rem;
      

    }
    
   
  }
}

// mat-sidenav-content {

// }
