<div id="about-container" class="about-container">
    <img
    class="logo"
    src="../../assets/img/dbpedia_am_logo.png"
    alt="Dbpedia Logo"
  />
  <div class="content">

    
    <p class="section-title" i18n="@@about-section_title">
        About DBpedia Amharic Chapter
      </p>
    <p i18n="@@about-section_content"> DBpedia is a collaborative initiative focused on extracting structured information from Wikipedia and presenting it as Linked Open Data. <br><br> The DBpedia Am is the Amharic chapter of DBpedia, it is part of the DBpedia internationalization effort with primary objective of allowing knowledge graph extraction from Amharic Wikipedia. <br> <br> It is the first sub-Saharan African language to join the internationalization efforts of DBpedia. </p>

    
  </div>

</div>
