<nav class="navbar">
  
    <mat-toolbar color="primary" class="mat-toolbar">
      <div class="navbar-links">
        <button
          mat-button
          routerLink="/"
          routerLink="/about-container" 
          routerLinkActive="active"
          (click)="jumpToSection('about-container')"
          i18n="@@navbar-about"
        >
          About
        </button>
  
        <button
          mat-button
          routerLink="/"
          routerLink="/query-service-container" 
          routerLinkActive="active"
          (click)="jumpToSection('query-service-container')"
          i18n="@@navbar-query"
        >
          Query
        </button>
  
        <button
          mat-button
          routerLink="/"
          routerLink="/documentation-container" 
          routerLinkActive="active"
          (click)="jumpToSection('documentation-container')"
          i18n="@@navbar-documenation"
        >
          Documentation
        </button>
  
        <button
          mat-button
          routerLink="/"
          routerLink="/resources-container" 
          routerLinkActive="active"
          (click)="jumpToSection('resources-container')"
          i18n="@@navbar-resources"
        >
         Resources
        </button>
  
        <button
          mat-button
          routerLink="/"
          routerLink="/contact-us-container" 
          routerLinkActive="active"
          (click)="jumpToSection('contact-us-container')"
          i18n="@@navbar-contact_us"
        >
          Contact us
        </button>
        <!-- <hr class="vertical-line"> -->
      </div>
      
    </mat-toolbar>
  </nav>
  