@use '@angular/material' as mat;

.documentation-container {
  position: absolute;
  height: 100%;
}

mat-sidenav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2C5060;
  height: 100%;


  .logo {
    justify-self: center;
    height: 150px;
    width: 150px;
  }

  a {
    color: rgb(251, 249, 249);
    text-decoration: none;
  }
  mat-list {
    .list-item {
      margin: 1rem 1.2rem;
    }
    color: white;
  
  mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  
  mat-list-item.active {
    color: #00070a; 
    font-weight: 800;
    margin-left: 4%;
    background-color: rgba(0, 0, 0, 0.1); 

    border-left: #edf2f4 solid 2px;
  }
}
}
